* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	width: 1440px;
	height: 1024px;
	background-color: #eff2f9;
}

.product-card {
	width: 1170px;
	height: 800px;
	background-color: #fff;
	box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
	padding: 60px 0 70px;
}

.product-content-images-block {
	width: 540px;
	border-right: 2px solid rgba(20, 20, 20, 0.15);
}

.preview-product-image-block {
	width: 80px;
	height: 80px;
}

.selected-previed-image-block {
	box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
	background-color: #fff;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 38px;
	letter-spacing: 0.01em;
	color: rgba(20, 20, 20, 0.9);
}

.subtitle {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.01em;
	color: rgba(20, 20, 20, 0.4);
}

.product-info-text {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.66667;
	letter-spacing: 0.01em;
	color: rgba(20, 20, 20, 0.7);
}
